
body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a, h2, .content1, .content2, .content3, .content4, h3, h4, p, ul, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-stretch: ultra-condensed;
    
}

h1, h2, h3, h4, h5, h6, p {
    
    text-decoration: none;
    font-style: none;
    -webkit-font-smoothing: antialiased;
}

h1, h3, h4, h5, h6, p {
    color: #424242;
}
.topsite {
    width: 100%;
    height: 50px;    
}

.toptop {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-items: auto;


}

.logo {
    padding: 20px;
    width: 250px;
    height: 70px;
    position: relative;
}

.languages {
    padding: 10px;
    width: 300px;
    position: relative;
}

.header1 {
    width: 350px; 
    height: 50px; 
    box-sizing: border-box;
    overflow: visible;
    margin-top: 15px;
    margin-left: 70px;
   

}

.search { 
    padding-top: 20px;
    margin-left: 230px;
}

.downtop {
    width: 100%;
    height: 400px;
    display:flex;
    position: relative;

}

.imgbg {
    max-width: 100%;
    max-height: 600px;
   
}

.sides {
    width: 100%;
    height: 400px;
    position: absolute;
    display: flex;
    flex-flow: column;

}

.containerleft {
    width: 50%;
}

.leftside {
    width: 400px;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    line-height: 1.6;
    margin-left: 120px;
    margin-top: 70px;     
    
}

.leftside > .insight {
    font-size: 40px; 
}

.leftside > .stay {
    font-size: 1.10rem;
}

.leftside > .subscribe {
    margin-top: 20px;
    padding: .875rem 1.6875rem;
    border-radius: 1%;
    background-color: #476cc5;
    color: white;
}

.rightside {
    font-family: 'Roboto', sans-serif;
    width: 250px;
    height: 50px;
    line-height: 1.2em;
    float: right;
    margin-right: 80px;
    margin-top: 300px;
    
}

.rightside > .get {
    color: #476cc5;
    font-size: 0.90rem;
    
}

.titulo {
    color: #474742;
    background-color: #f5f5f5;
}


.titulo1 {
    width: 100%;
    margin-left: 30px;
    margin-top: 50px;
    font-size: 35px;
}

a {
    color: #5f83de;
}

ul {
    list-style: none;
}

/*start grid*/

.container-grid {
    display: flex;
    max-width: 100%;
    height: 1000px;
    flex-flow: wrap;
    background-color: #f5f5f5;
     
}

.grid-item1 {
    width: 40%;
    height: 350px;

}

.grid-item2 {
    width: 30%;
    height: 350px;

}

.container-grid .grid-box {
    max-width: 100%;
    padding: 20px;
    height: 800px; 
    display: flex;
    flex-flow: row;
    flex-flow: wrap;
    justify-content: center;
    background-color: #f5f5f5;
    
}

.container-grid .grid-box .flex-item1 {
    width: 47%;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-flow: nowrap;
 
}

.container-grid .grid-box .flex-item2 {
    width: 23%;
    height: 350px;
    background-color: #ffffff;
    margin: 7px;
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    box-shadow: 0px 0px 1px 1px #f5f5f5;

}

.container-grid .grid-box .flex-item1 .grid-item1  {
    width: 100%;
    height: 350px;
    position: relative;
}

.container-grid .grid-box .flex-item2 .grid-item2  {
    width: 100%;
    height: 350px;
    position: relative;
     
}

.content-box1{
    position: absolute;
    width: 40%;
    height: 180px; 
    margin-top: 100px;
    margin-left: 15px;
    
}

.content-box2{
    width: 18%;
    position: absolute;
    height: 160px;
    margin-top: 160px;
    margin-left: 30px;
    margin-right: 10px;

}

.content-box1 .content1 {
    font-size: 17px;
    color: white;
    line-height: 1.5em;
}

.content-box1 .content2 {
    font-size: 12px;
    color: white;
    line-height: 1.5em;
}

.content-box2 .content3 {
    font-size: 17px;
    color: black;
    line-height: 1.5em;
}


.content1, .content2 {
    font-size: 11px;
    color: black;
    line-height: 1.5em;
    
}

.img1{
    max-width: 100%;
    height: 350px;
    opacity: 0.7;
}

.img2{
    width: 100%;
    height: 150px;
}

/*end of grid*/

.card-card-text, .card-title, .card-link, .link, .button3, .titulodiv1 {
    color:#474742;
    line-height: 1.5em;
}


.tools{
    width: 100%;
    background-color: #fafafa;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

.container2{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: #fafafa;

}

.card-card{
    width: 300px;
    height: 400px;
    margin-left: 25px;
    background-color:#ffffff;
}

.card-body{
    margin: 20px;
}


.tools1 {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.tools2 {
    font-size: 18px;
}

.tools4 {
    font-size: 15px;
  
}

.tools3{
    text-align: left;
    margin-right: 15px;
    margin-top: 25px;
    font-size: 16px;
}

.tools3:hover{
    color:#3267d6;
}


.button3{
    width: 150px;
    height: 40px;
    background-color:#3267d6;
    
}

.button3 > a {
    color: white;
    font-size: 18px;
}

.button2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    
    
}

.button {
    font-size: 15px;
    width: 30%;
    height: 15%;
    align-items: center;
    background-color: white;
}

.navbar-brand{
    margin-left: 20px;
    margin-right: 30px;
}


.btn {
    display: flex;
    height: 30px;
    justify-content: center;
    margin-top: 10px;
}

.takeadeep {
    width: 100%;
    height: 450px;
    background-color: #fafafa;
    margin-top: -20px;
}


.bloco {
    width: 100%;
    height: 400px;
     
}

.bloco1 {
    margin-top: 20px;
    padding-left: 30px;
      
}

.bloco2 {
    width: 100%;
    margin-top: 10px;
    color: #5f83de;
    margin-right: 50px;
    margin-left: -40px;
    
}

        a:hover {
            color:#497bfa;
        }



.link{
    font-size: 15px;
}

.button-button2:hover{
    background-color: #cecece;
}

a {
    text-decoration: none;
   
}


.card-link:hover{
    font-size: 17px;
    text-decoration: none;

}



.navigation {
    width: 600%;
    
}
    .navigation ul{
        position: relative;
        z-index: 1000;
        margin: 0;
        padding: 0;
    }
    .navigation > ul > li {
        position: relative;
        float: left;
        margin-right: 10px;
        line-height: 1.5em;

}
    .navigation > ul > li > a {
        display: block;
        padding:8px 14px;
        text-decoration:none;
        color:#474742;
        font-size: 16px;
}
    

    

.navigation ul ul{
    width:340px; 
    position:absolute;
    z-index:100;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
             -moz-transition: height 0.3s ease-in;
             -o-transition: height 0.3s ease-in;
             -ms-transition: height 0.3s ease-in;
             transition: height 0.3s ease-in;
    }
    

    .navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul{
        height:0; 
        background-color: #e7e6e6;   
        }

    .navigation ul ul ul{
        left:170px;
        width:170px;
        }
    
    .navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul,
    .navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul{
        height:250px; 
        }
  
    .navigation ul ul li{
        background-color:#eaeaea; 
        width:200px;
        -webkit-transition: background-color 0.3s ease;
                 -moz-transition: background-color 0.3s ease;
                  -o-transition: background-color 0.3s ease;
                 -ms-transition: background-color 0.3s ease;
                 transition: background-color 0.3s ease;
        }
        
    .navigation ul ul li:hover {
        background-color:#999;
        }
        
    .navigation ul ul li a {
        display:block;
        text-decoration:none;
        margin:0 12px;
        padding:5px 0;
        color:#4c4c4c; 
        }

    .navigation ul ul li a:hover, .navigation ul ul li:hover > a {
        color:#ffffff; 
    }



.footer{
    margin-top: 20px;
    background-color: #3267d6;
    height: 400px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
   
}

.footer1{
    width: 70%;
    margin-left: 30px;
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;
    height: 30%;
}

.textfooter1{
    font-size: 35px;


}

.subsbutton{
    width: 100px;
    height: 35px;
    color:#ffffff;

}

.subsbutton:hover {
    color: #4885ed;
}

.footer2 {
    width: 90%;
    display: block;
    margin-left: 30px;
    border-top: 1px solid white;
    margin-top: 20px;
    
}

.whitelogo {
    width: 100px;
    height: 30px;
    float: left;
    margin-top: 30px;
}

.footer2 > ul > li {
    float: left;
    color: white;
    margin-top: 20px;
}

.menufooter{
    align-items: center; 
    line-height: 1.5em;
    font-size: 18px;
    margin-left: 15px;

}
.subscribe {
    line-height: 1.5em;
    margin-right: 80px;

}

.footer3 {
    width: 90%;
    display: flex;
    flex-flow: row;
    margin-left: 30px;  
    margin-top: 20px;
    justify-content: space-between;
    
}

.whitelogo2{
    width: 20px;
    height: 20px;
    margin: 10px;
}

input, label {
        display: none;
    }


label [for="bars"]{
    padding: 10px;
    background-color:red;
    cursor: pointer;
    width: 20%;
    height: 20%;
    
}


/*MEDIA QUERY UNDER 600PX*/
@media (max-width:600px) {
    .footer{
        min-height: 400px;
        max-height: 800px;
    }
    
    .footer1{
        min-height: 30%;
        max-height: 50%;
    }
    
    .footer2 {
        display: block;
    
    }
    
    .textfooter1{
        font-size: 20px;
    }
    .menufooter {
        font-size: 12px;
    }

    .tools{
        width:100%;
    }

    .container2{
        width: 100%;
        min-height: 600px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .card-card{
        min-width: 100%;
        max-height: 150px;
        display: flex;
        flex-flow: row;
        
    }
    
    .tools1 {
        width: 40%;
        min-height: 100px;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: left;
    }
    
    .tools2 {
        font-size: 13px;
        text-align: left;
        margin-right: 15px;
    }
    
    .tools4 {
        font-size: 12px;
        
    }
    
    .tools3{
        text-align: left;
        margin-right: 15px;
        margin-top: 25px;
    }
    
    .takeadeep{
        width: 100%;
        min-width: 100%;
        min-height: 800px; 
    }

    .bloco {
        width: 100%;
        min-width: 600px;
        height: 500px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
         
    }

    .bloco1 {
        width: 300px;
        max-height: 400px;
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 50px;
        padding-right: 60px;
        
    }

    .container-grid{
        height: 1400px;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        justify-content: flex-start;
    }
    .container-grid .grid-box{
        height: 1300px;
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-content: space-between;
        box-sizing: border-box;

    }
    .container-grid .grid-box .flex-item1 {
        width: 100%;
        height: 300px;
    }

    .container-grid .grid-box .flex-item2 {
        width: 100%;
        max-height: 140px;
        margin-bottom: 10px;
        
    }

    .img1{
        width: 100%;
        height: 300px;
        margin-top: 20px;
        position: relative;
    }

    .img2{
        width: 150px;
        height: 110px;
        position: relative;
        margin-top: 10px;
    }

    .container-grid .grid-box .flex-item2 .grid-item2 {
        width: 30%;
        height: 110px;
        
    }

    .container-grid .grid-box .flex-item1 .grid-item1 {
        width: 100%;
        height: 350px;
        
    }

    .container-grid .grid-box .flex-item2 .content-box2{
        width: 100%;
        height: 80px;
        margin-top: 10px;
        position: relative;
       
        
    }

    .container-grid .grid-box .flex-item1 .content-box1{
        width: 80%;
        height: 20px;
        margin-top: 1px;
        position: absolute;
      
    }
    .content-box1 .content1 {
        font-size: 16px;
    
    }
    
    .content-box1 .content2 {
        font-size: 11px;
        
    }
    
    .content-box2 .content3 {
        font-size: 15px;
        margin-left: 15px;
    }
    
    .content4 {
        font-size: 12px;
        margin-left: 15px;
    }

    .imgbg, .get, .stay, .subscribe, .languages {
        display: none;
        
    }

    .downtop {
        width: 100%;
        max-height: 150px;
        background-color: #f5f5f5;
    }
    .leftside{
        margin-left: 40px;
        height: 100px;
    }
    .leftside > .insight {
        font-size: 24px; 
    }

    .titulo1{
        font-size: 28px;
    }

    .header1 {
        display: none;
    }

    .search { 
        padding-top: 20px;
        margin-left: 50px;
        
    }
    .navigation ul li {
        width: 50%;
        float:left;
    }
   
}


/*MEDIA QUERY from 601PX to 1000px*/
@media (min-width:601px) and (max-width:1000px) {
    .footer{
        min-height: 400px;
        max-height: 800px;
    }

    .footer1{
        min-height: 30%;
        max-height: 50%;
    }
    
    .footer2 {
        display: block;

    }

    .textfooter1{
        font-size: 25px;
    }
    .menufooter {
        font-size: 14px;
    }

    .tools{
        width:100%;
    }

    .container2{
        width: 100%;
        min-width: 100%;
        min-height: 800px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        overflow: hidden;
        
    }

    .card-body{
        margin: 5px;
    }

    .card-card{
        min-width: 25%;
        max-width: 100%;
        min-height: 300px;
         
    }
    
    .tools1 {
        width: 100%;
        min-height: 100px;
        margin: 0 auto;
    }
    
    .tools2 {
        font-size: 14px;
        margin-right: 5px;
    }
    
    .tools4 {
        font-size: 12px;
        
    }
    
    .tools3{
        text-align: left;
        margin-right: 5px;
        margin-top: 25px;
    }

    .takeadeep{
        width: 100%;
        min-width: 100%;
        min-height: 800px;
         
    }

    .bloco {
        width: 100%;
        min-width: 700px;
        min-height: 600px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        
    }

    .bloco1 {
        min-width: 500px;
        max-height: 300px;
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 280px;
        padding-right: 60px;
        box-sizing: border-box;
        
    }
    .container-grid{
        height: 1600px;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        padding-bottom: 100px;
        margin-bottom: 100px;
    }
    .container-grid .grid-box{
        height: 2000px;
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        flex-grow: inherit;
        box-sizing: border-box;

    }
    .container-grid .grid-box .flex-item1 {
        width: 100%;
        min-height: 300px;
        
    }

    .container-grid .grid-box .flex-item2 {
        min-width: 47%;
        min-height: 200px;
  
    }

    .grid-item1 {
        width: 30%;
        height: 250px;
        
    
    }
    
    .grid-item2 {
        width: 20%;
        height: 250px;
    
    }

    .img1{
        min-width: 100%;
        min-height: 300px;
    }

    .img2{
        min-width: 100%;
        min-height: 180px;
    }

    .content-box1{
        max-width: 100%;
    }

    .content-box2{
        position: absolute;
        width: 40%;
        margin-top: 190px;
        margin-left: 5px;

    }

    .content-box1 .content1 {
        font-size: 16px;
    
    }
    
    .content-box1 .content2 {
        font-size: 11px;
        
    }
    
    .content-box2 .content3 {
        font-size: 15px;
        margin-left: 15px;
    }
    
    .content4 {
        font-size: 12px;
        margin-left: 15px;
    }

    .imgbg, .get, .stay, .subscribe, .languages{
        display:none;
    }

    .downtop {
        width: 100%;
        max-height: 250px;
        background-color: #f5f5f5;
    }

    .insight {
        font-size: 25px; 
    }

    .downtop {
        width: 100%;
        max-height: 180px;
        background-color: #f5f5f5;
    }
    .leftside{
        margin-left: 40px;
        height: 100px;
    }
    .leftside > .insight {
        font-size: 28px; 
    }

    .titulo1{
        font-size: 28px;
    }

    .header1 {
        display: none;
    }

    .search { 
        padding-top: 20px;
        margin-left: 400px;
    }

    

    
}

/*MEDIA QUERY from 1001px*/
@media (min-width:1001px) {
    .footer{
        min-height: 400px;
        max-height: 800px;
    }

    .footer1{
        min-height: 30%;
        max-height: 50%;
    }
    
    .footer2 {
        display: block;

    }

    .textfooter1{
        font-size: 35px;
    }

    .menufooter {
        font-size: 16px;
    }

    .container2{
        width: 100%;
        min-height: 400px;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow: hidden;  
        
    }

    .card-card{
        min-width: 200px;
        min-height: 400px;
        
    }

    .tools1{
        width: 100%;
        min-height: 200px;

    }

    .tools2{
        font-size: 18px;
    }

    .tools4 {
        font-size: 15px;
        
    }
    
    .tools3{
        text-align: left;
        margin-right: 15px;
        margin-top: 25px;
    }

    .takeadeep{
        width: 100%;
        min-width: 100%;
        min-height: 500px; 
    }

    .bloco {
        width: 100%;
        min-width: 700px;
        min-height: 500px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        
        
    }

    .bloco1 {
        width: 250px;
        max-height: 300px;
        margin-top: 20px;
        margin-right: 30px;
        padding-right: 40px;
        
    }

    .container-grid{
        width: 100%;
    }

    .grid-box{
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
    }

    .container-grid .grid-box .flex-item1 {
        min-width: 30%;
    

    }

    .container-grid .grid-box .flex-item2 {
        min-width: 80px;
 
    }

    .img1{
        max-width: 100%;
        min-height: 200px;
    
    }

    .img2{
        min-width: 100px;
    
    }

    .content-box1{
        max-width: 100%;
    }

    .content-box2{
        max-width: 60%;

    }

    .leftside{
        min-width: 200px;

    } 

    .header1 {
        display: none;
    }

    .search { 
        padding-top: 20px;
        margin-left: 450px;
        margin-right: 100px;
    }

}


@media (min-width:1180px) {
    .header1 {
        display: block;
    }

    .bars {
        display: none;
    }
}

